<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajkoushik.testblind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/blinds"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="SmartBlinds"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="COSTOM_INTENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="SmartBlinds"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="COSTOM_INTENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RulesDisplayActivity"
            android:label="@string/title_activity_rules_display"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".JsonRpcServer"
            android:exported="false" />

        <activity
            android:name=".DisplayHistory"
            android:label="@string/title_activity_display_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SetLimit" />
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
